.container {
    background-color: white;
    margin: 20rpx;
    padding: 20rpx;
    border-radius: 10rpx;
    display: flex;
    /* box-shadow: 8rpx 8rpx 0rpx 0rpx rgba(0, 0, 0, 0.349); */
    box-shadow: 3px 2px 2px rgba(0, 0,0, 0.2);
}
.task-content {
    width: 60vw;
}
label {
    font-size: 28rpx;
}
.count-down {
    padding-left: 50rpx;
    margin-top: 48rpx;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64rpx;
}
