.container {
    background-color:lightgrey;
    margin: 20rpx;
    padding: 20rpx;
    border-radius: 10rpx;
    display: flex;
}
.task-content {
    width: 60vw;
}
label {
    font-size: 36rpx;
}
.count-down {
    padding-left: 50rpx;
    margin-top: 48rpx;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64rpx;
}
