page {
    background-color:  #6699ff;
}
.cover {
    width: 600rpx;
    /* todo:待视觉确认，height: 1182px */
    height: 600rpx;
    position: fixed;
    /* margin-top: -30rpx; */
    margin-left: 80rpx;
    transform: translateY(10rpx);
    /* border-radius: 50%; */
    /* background-color: white; */
    /* box-shadow: 10px 10px 10px rgba(0, 0,0, 0.2); */
}

.login-container {
    /* position: relative;
    width: 713.768rpx;
    height: 1132.85rpx;
    box-sizing: border-box;
    left: 50%;
    margin: 23.551rpx 0 60.99rpx -356.884rpx;
    background:white;
    border-radius: 21.739rpx;
    overflow: hidden; */
    width: 100vw;
    /* height: 100vh; */
    height: 103vh;
    transform: translateY(-3vh);
    background-size: cover;
    background-image: url('../../images/login_background.png');
}

.login-form {
    position: fixed;
    width: 90vw;
    /* height: 36vh; */
    margin-left: 5vw;
    /* margin-top: 42.5vh; */
    margin-top: 560rpx;
}

.login-container form {
    position: fixed;
    /* bottom: 0; */
    /* display: block; */
    width: 80vw;
    height: 300.386rpx;
    /* padding: 10.87rpx 23.551rpx 0 23.551rpx; */
    box-sizing: border-box;
    /* background: #fff; */
    margin-top: 660rpx;
    margin-left: 75rpx;
    /* border: 1rpx solid white; */
    /* border-radius: 40rpx; */
    /* box-shadow: 0.5rpx 6.039rpx 10rpx 6.039rpx #c9cff3; */
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 21.739rpx; */
    /* margin-top: 50rpx; */
    /* width: 666.667rpx; */
    /* margin-left: 7.5vw; */
    width: 64vw;
    height: 79.71rpx;
    border-bottom: 1.208rpx solid #C2C5CC;
    /* background: #fff; */
    font-size: 25.362rpx;
    transform: translate(55rpx,55rpx);
}
.form-item label {
    color: #525252;
    padding: -5 16.304rpx 0 21.739rpx;
}
.form-item input {
    padding-left: 2%;
    color: #000;
    height: 100%;
    font-size: 27.778rpx;
    font-weight: bold;
}
.form-item-placeholder {
    font-size: 25.362rpx;
    color: #999;
    font-weight: normal;
}
.login-icon {
    width: 39.855rpx;
    height: 39.855rpx;
    margin-right: 23.551rpx;
}

.login-submit {
    height: 79.71rpx;
    font-size: 32.609rpx;
    color: #fff;
    /* background: linear-gradient(90deg, rgb(153, 146, 170) 0%, rgb(126, 120, 150) 100%); */
    background-color: #678ff9;
    border-radius: 39.855rpx;
    /* margin:40rpx 0; */
    width: 250rpx;
    margin-top: 25rpx;
    /* margin-left: 250rpx; */
    transform: translateY(972rpx);
}
.login-submit.default {
    background: #fff;
    color: #333;
    border: 1.208rpx solid #999;
}
.login-submit::after {
    display: none;
}


.our-docs {
    display: flex;
    align-items: center;
    padding-bottom: 38.043rpx;
    color: #525252;
    font-size: 25.362rpx;
}
.our-docs smt-icon {
    display: flex;
}

.short-button{
    height: 79.71rpx;
    /* font-size: 32.609rpx; */
    font-size: 28rpx;
    color: black;
    /* background: linear-gradient(90deg, rgb(153, 146, 170) 0%, rgb(126, 120, 150) 100%); */
    background-color: white;
    border-radius: 39.855rpx;
    /* margin:0;
    width: 45%; */
    display: inline-block;
    padding: 0rpx;

}

.left-button {
    margin-left: 252rpx;
    margin-right: 10rpx;
}

.separator-label {
    padding-top: 8rpx;
}

.right-button {
    margin-left: 10rpx;
    margin-right: 252rpx;
}

.short-button::after{
    border: none;
}

.button-box{
    /* margin: 40rpx 0;
    display: flex;
    justify-content: space-between; */
    /* margin-top: 730rpx; */
    width: 800rpx;
    transform: translateY(220rpx);
}