.item{
    height: 90.58rpx;
    border-bottom: solid rgb(214, 211, 211) 1.208rpx;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.name-input{
    display: inline;
    font-size: 33.213rpx;
}

.property{
    font-size: 33.213rpx;
    margin-left: 30.193rpx;
    margin-right: 120.773rpx;
}

.birthday{
    display: inline;
    font-size: 33.213rpx;
}

.button{
    width: 70%;
    margin-top: 60.386rpx;
    font-size: 30rpx;
}