.item{
    height: 90.58rpx;
    /*border-bottom: solid rgb(214, 211, 211) 1.208rpx;*/
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.avatar-item{
    height: 211.353rpx;
    display: flex;
    align-items: center;
}

.name-input{
    display: inline;
    font-size: 33.213rpx;
}

.property{
    font-size: 33.213rpx;
    margin-left: 80rpx;
    margin-right: 120.773rpx;
}

.birthday{
    display: inline;
    font-size: 33.213rpx;
}

.button{
    width: 25%;
    margin-left: 452.899rpx;
    margin-top: 60.386rpx;
    font-size: 30rpx;
    border-radius: 6.039rpx;
}

.avatar{
    margin-top: 12.077rpx;
    margin-left: 66.425rpx;
    border-radius: 85rpx;
    width: 140rpx;
    height: 140rpx;
    border: 4rpx whitesmoke solid;
}

.title{
    font-size: 42rpx;
    margin-left: 70rpx;
    margin-right: 220rpx;
}