page{
    height:100%
}

.swiper {
    height: 100%;
    border-radius: 8px 8px 0 0;
}
/* 组件主体 */
.wrap {
    width: 100%;
    height: 100%;
}

.card-area {

    overflow: hidden;
    margin:5%;
    margin-top: 10%;
    border-radius: 8px 8px;
    background: #FFF;
    width: 90%;
    height: 85%;
}

.image{
    margin-top: 120.773rpx;
    height: 700rpx;

}




