.header {
    margin: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 36rpx;

}
.head-img {
    height: 60rpx;
    width: 60rpx;
    margin-left: -30rpx;
    margin-bottom: 10px;
}
.header textarea {
    margin-left: 18rpx;
    margin-right: 18rpx;
    height: 150rpx;
    padding-top: 30rpx;
}
.head-btn-left {
    height: 60rpx;
    width: 60rpx;
    margin: 40rpx 5rpx;
    background-color: white;
}
.head-btn-right {
    height: 60rpx;
    width: 60rpx;
    margin: 40rpx 23rpx;
    background-color: white;
}

.head-icon {
    margin-left: -25rpx;
}

.head-btn-left::after, .head-btn-right::after {
    border: 0;
}

.form-img {
    height: 60rpx;
    width: 60rpx;
    margin-left: -30rpx;
    margin-bottom: 10rpx;
}

.detail {
    background-color: whitesmoke;
    border-radius: 36rpx;
    margin: 20rpx;
    min-height: 78vh;
}

.title {
    display: flex;
    background-color: #9db4f3;
    border-top-left-radius: 36rpx;
    border-top-right-radius: 36rpx;
    height: 60rpx;
    overflow: hidden;
}
.title label {
    margin: 10rpx 220rpx 10rpx 20rpx;
    font-size: small;
    text-align: left;
    width: 200rpx;
}
.title tabs {
    margin: 10rpx 5rpx;
    height: 40rpx;
    /* width: 200rpx; */
    width: 250rpx;
    border-radius: 36rpx;
}
.title tab-item {
    background-color: #9db4f3;
    font-size: 6.039rpx;
}