.feedback-text{
    width: 100%;
    height: 80%;
    border: none;
}
.feedback-email{
    width: 100%;
    height: 10vw;
    border: none;
}

.textarea{
    border: 0;
    margin: 5%;
    width: 90%;
    height: 100%;
}

.content-area {
    overflow: hidden;
    margin:5%;
    border-radius: 8px 8px;
    background: #FFF;
    width: 90vw;
    height: 100%;
}

.email-area {
    overflow: hidden;
    margin:5%;
    border-radius: 8px 8px;
    background: #FFF;
    width: 90vw;
}

.wrap {
    padding-bottom: .5rem;
    font-size: 35rpx;
    width:100%;
    height: 750rpx;
}

.top-description {
    margin-left: 10rpx;
    display: flex;
    padding: 4vw;
    font-family: PingFangSC-Medium;
    justify-content: space-between;
}

.border-bottom {
    position: relative;
    border: 0;
}

.border-bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

.button{
    font-size: 30rpx;
    border-radius: 9rpx;
    margin:60.386rpx auto;
    width:80%;
    /* background-color: #8785a2; */
    background-color: #678ff9;
    color: whitesmoke;
}

.button::after{
    border: none;
}
