.button{
    font-size: 30rpx;
    border-radius: 9rpx;
    margin:60.386rpx auto;
    width:80%;
    /* background-color: #8785a2; */
    background-color: #678ff9;
    color: whitesmoke;
}

.button::after{
    border: none;
}

.input-box{
    margin-top: 50rpx;
    align-items: center;
    display: flex;
    height: 90.58rpx;
    width: 80%;
    margin-left: 80rpx;
}


.normalInput {
    height: .51rem;
    margin: 0 .17rem;
}

.textarea {
    height: .51rem;
    margin: 0 .17rem;
    padding: .1rem;
    background-color: #f8f8f8;
}

.card-area {
    overflow: hidden;
    margin:20rpx;
    border-radius: 8px 8px;
    background: #FFF;
}

.top-description {
    margin-left: 10rpx;
    display: flex;
    padding: 4vw;
    font-family: PingFangSC-Medium;
    justify-content: space-between;
}

.top-description :first-child {
    width: 2.93rem;
    font-size: .15rem;
}

.top-description :nth-child(2) {
    width: 2.45rem;
    font-family: PingFangSC-Regular;
    font-size: .13rem;
    text-align: right;
    color: #999;
}

.list-area {
    margin: 0 60rpx;
    padding: 30rpx 0;
    font-family: PingFangSC-Regular;
    color: #333;
}

.list-item-key-4 {
    display: inline-block;
    width: 5rem;
    word-wrap: break-word;
}

.list-item-value {
    display: inline-block;
    width: 10rem;
    vertical-align: middle;
    word-break: break-all;
}

.wrap {
    padding-bottom: .5rem;
    font-size: 35rpx;
    width:100%;
}

.border-bottom {
    position: relative;
    border: 0;
}

.border-bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
