.info-container{
    /* height: 88vh; */
    height: 360rpx;
    justify-items: center;
    padding: 18.116rpx;
    /* background-color: whitesmoke; */
    background-color: white;
}


.info-card{
    width: 100%;
    height:340rpx;;
    /* background-color: rgba(218, 218, 218, 0.986); */
    background-color: white;
    border-radius: 50rpx;
    overflow: hidden;
    /* box-shadow:black 100% 3.019rpx; */
}

.username-box{
    margin-top: 24.155rpx;
    margin-left: 24.155rpx;
    display: flex;
    align-items: center;
}

.detail{
    margin-top: 18.116rpx;
    margin-left: 24.155rpx;
    display: flex;
    align-items: center;
}

.age-box,.gender-box{
    font-size: 28rpx;
    line-height: 30rpx;
    padding: 7rpx 20rpx;
    background-color: rgb(255, 255, 255);
    border: 2rpx rgb(49, 48, 48) solid;
    border-radius: 20rpx;
}

.age-box{
    margin-left: 51.329rpx;
}

.gender-box{
    margin-left: 24.155rpx;
}

.username{
    width: 301.932rpx;
    font-size: 48rpx;
    line-height: 52rpx;
    padding: 16.304rpx;
    margin-left: 48.309rpx;
}

.avatar{
    margin-top: 12.077rpx;
    margin-left: 66.425rpx;
    border-radius: 85rpx;
    width: 170rpx;
    height: 170rpx;
    border: 4rpx whitesmoke solid;
}

.update-botton{
    border:none;
    /* background-color: rgba(218, 218, 218, 0.986); */
    background-color: white;
    padding:0;
    display: inline;
    margin-right: 0;
    margin-left: 280rpx;
    padding-left: 20rpx;
}

.update-botton::after{
    border:0;
}

.my-button{
    /* background-color: #8785a2; */
    background-color: #678ff9;
    margin-top: 20rpx;
    width: 573.671rpx;
    font-size:32rpx;
    border-radius: 51.329rpx;
    color: whitesmoke;
}

.my-button::after{
    border: none;
}


.logout-button{
    background-color: #ee673e;
    /* margin-bottom:10rpx; */
    width: 573.671rpx;
    font-size:32rpx;
    border-radius: 51.329rpx;
    color: whitesmoke;
    border: none;

}

.logout-button::after{
    border: none;
}

.top-button{
    margin-top:90rpx ;
}


/*
列表格式
*/
.list {
    margin-top: 20rpx;
    align-content: center;
  }

  .text-content {
    padding: 20rpx 0rpx 20rpx 30rpx;
    align-content: center;
    border-bottom: 1rpx solid #F5F5F5;
    background-color: #FFFFFF;
    font-size: 33rpx;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-width: 2rpx;
    border-color: whitesmoke;
  }

  .logout {
      /* margin-top: 30rpx; */
      /* transform: translateY(240rpx); */
      /* transform: translateY(37vh); */
      position: fixed;
      bottom: 4vh;
      /* left: ; */
      width: 100vw;
      padding: 20rpx 0rpx 20rpx 0rpx;
      text-align: center;
      align-content: center;
      border-bottom: 1rpx solid #F5F5F5;
      background-color: #FFFFFF;
      color: red;
      font-size: 33rpx;
      font-family: Arial, Helvetica, sans-serif;
    }