/* .head-view {
    display: flex;
    margin-top: 20rpx;
} */
image {
    height: 100rpx;
    width: 100rpx;
    margin-top: -20rpx;
    margin-left: -48rpx;
}
.main-view {
    margin: 120rpx 40rpx 40rpx 40rpx;
}
.sub-view {
    display: flex;
    margin: 60rpx 60rpx 60rpx 40rpx;
    font-size: 30rpx;
}
label {
    width: 180rpx;
    text-align: right;
}
.pick {
    background-color: rgb(227, 225, 231);
    width: 420rpx;
    height: 60rpx;
    padding-left: 20rpx;
    border-radius: 10rpx;
    display: flex;
}
picker {
    padding-right: 40rpx;
    padding-top: 8rpx;
}
input {
    background-color: rgb(227, 225, 231);
    width: 420rpx;
    height: 60rpx;
    padding-left: 20rpx;
    border-radius: 10rpx;
}
.start-end-view {
    margin-top: 30rpx;
    display: flex;
    /* margin-bottom: 40rpx; */
}
button {
    height: 60rpx;
    width: 60rpx;
    align-content: center;
    margin-left: 100rpx;
    background-color: whitesmoke;
    display: inline-block;
}
button::after {
    border: 0;
}

.delete-button{
    transform: translate(-62rpx,-60rpx);
    background-color: rgb(240, 100, 100);
}

.draft-button{
    margin-left: 50rpx;
    transform: translateY(-60rpx);
}

.save-btn{
    background-color: #678ff9;
    width: 200rpx;
    font-size:32rpx;
    border-radius: 51.329rpx;
    color: whitesmoke;
    height: 70rpx;
    line-height: 70rpx;
    transform: translateX(165rpx);
}

.save-btn::after {
    border: none;
}

.start-btn {
    background-color:  #209726;
    width: 200rpx;
    font-size:32rpx;
    border-radius: 51.329rpx;
    color: whitesmoke;
    height: 70rpx;
    line-height: 70rpx;
    transform: translateX(165rpx);
}

.start-btn::after,.end-btn::after{
    display: none;
}

.end-btn {
    background-color:  #FF0000;
    width: 200rpx;
    font-size:32rpx;
    border-radius: 51.329rpx;
    color: whitesmoke;
    height: 70rpx;
    line-height: 70rpx;
    transform: translateX(165rpx);
}

.icon{
    text-align: center;
    display: flex;
    justify-content: center;
}


.operation-btn {
    transform: translate(540rpx, 100rpx);
}